<nav class="navbar navbar-dark bg-primary">
    <a href="/" class="navbar-brand">
        Blog
    </a>

    <ul class="navbar-nav me-auto">
        <li class="nav-item" >
            <a href="/admin/categories" class="nav-link" style="display: inline;">categories</a>
            <a href="/admin/articles" class="nav-link" style="display: inline;">articles</a>
        </li>
    </ul>
</nav>